.author-desc ul {
    margin-bottom: 30px;
  }
  
  .author-desc ul li {
    padding: 5px 0px;
    color: #222;
    font-size: 18px;
  }
  
  .author-desc ul li i {
    color: #5454DC;
    margin-right: 10px;
  }
  
  .auhtor-img {
    position: relative;
    z-index: 1;
  }
  
  .auhtor-img img {
    width: 100%;
  }
  
  .auhtor-img:before {
    position: absolute;
    content: "";
    left: -20px;
    top: 20px;
    width: 70%;
    height: 100%;
    border: 10px solid #5454DC;
    z-index: -1;
  }