.section-padding {
    padding: 100px 0px;
  }
  
  .page-header {
    padding: 120px 0px;
    background: #F4FDFF;
    position: relative;
    background-size: cover;
    background-position: 0px 10%;
    text-align: center;
    
  }
  
  .page-header:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #263b5e;
    opacity: .85;
  }
  
  .page-header .page-header-content h1 {
    color: #fff;
    font-size: 60px;
    text-transform: capitalize;
  }
  
  .page-header .page-header-content ul li {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .page-header .page-header-content ul li a {
    color: #fff;
    opacity: .7;
  }
  
  .bg-grey {
    background: #F6F6F8;
  }
  
  .mb-60 {
    margin-bottom: 60px;
  }
  
  .section-heading h3 {
    margin-bottom: 10px;
  }
  
  .center-heading {
    text-align: Center;
  }
  
  .center-heading .subheading {
    padding-left: 0px;
    color: #FF4343;
  }
  
  .center-heading .subheading:before {
    display: none;
  }
  
  .center-heading h3 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .center-heading h3:before {
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    width: 40px;
    height: 2px;
    bottom: 0px;
    margin: 0px  auto;
    background: #FF4343;
  }
  .banner {
    padding: 60px 0px;
    background: #F8F8F8;
  }
  
  .banner .banner-content h1 {
    font-size: 56px;
    margin: 15px 0px 25px;
    line-height: 60px;
    letter-spacing: -1px;
  }
  
  .banner .banner-content p {
    margin-bottom: 35px;
  }
  
  .banner .banner-content p a {
    color: #5454DC;
    text-decoration: underline;
  }
  
  .banner .banner-content .subheading {
    margin-bottom: 0px;
  }
  
  .banner .banner-content ul {
    margin-bottom: 25px;
  }
  
  .banner .banner-content ul li {
    line-height: 45px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .banner .banner-content ul li i {
    margin-right: 20px;
    color: #5454DC;
  }
  
  .banner .banner-content .btn {
    margin-bottom: 10px;
  }